.multiselect-dropdown {
  position: relative;
  display: inline-block;
  width: 80%;
}

.multiselect-toggle {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  text-align: left;
  cursor: pointer;
  font-size: .9rem;
  position: relative;
}

.multiselect-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.multiselect-list {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  max-height: 220px;
  overflow-y: auto;
  margin-top: 2px;
  padding: 0.5rem 0;
  /* display: grid;
  grid-template-columns: 1fr; */
  align-items: center;
}

.multiselect-list .multiselect-label {
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}

.multiselect-label input[type="checkbox"] {
  margin-right: 0.5rem;
}
